:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-hover: rgb(13, 72, 83);
    --error-color: rgb(255, 89, 89);
    --sucess-color:  rgb(79, 253, 184);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Helvetica', sans-serif;
}

body {
    background: var(--primary-color);
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin-bottom: 2rem;
    line-height: 1.3;
}

p, a, li, label {
    font-size: 2rem;
}

form {
    gap: 2rem;
    margin-top: 2rem;
}

form input, form label, form button {
    /* Colocando um por linha */
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

form input {
    font-size: 2rem;
    padding: 1rem;
}

form input:focus {
    outline: 2px solid var(--primary-color);
}

form button {
    height: 5rem;
    font-size: 2rem;
    margin-top: 2rem;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background: var(--primary-color-hover);
}


.container {
    max-width: 64rem;
    margin: 50px auto;
    background: #fff;
    border-radius: 2rem;
}

.content {
    padding: 3rem;
    gap: 2rem;
}

.info { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info p {
    margin: 1rem 0;
    font-size: 1.8rem;
}

.estilo-resultado, .bad {
    width: 100%;
    background: var(--sucess-color);
    padding: 1rem;
    border-radius: 5px;
}

.estilo-resultado p {
    margin: 0;
}

.bad {
    background: var(--error-color);
}